.info {
  &__inner {
    background-color: $bg-light;
  }

  &__list {
    display: flex;
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    align-items: center;
    max-width: 590px;
    width: 100%;
    min-height: 170px;
    position: relative;
    border-right: 1px solid #e8e4df;

    &:last-child {
      border-right: none;
    }
  }

  &__content {
    position: relative;
    padding-left: 80px;

    &:after {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      left: 30px;
      top: 40px;
      background-repeat: no-repeat;
      background-image: url(../images/icons/circle.png);
    }

    &:before {
      content: '';
      width: 50px;
      height: 50px;
      position: absolute;
      left: 0;
      top: 6px;
      background-repeat: no-repeat;
    }

    &--support {
      &:before {
        background-image: url(../images/icons/support-24.png);
      }
    }

    &--delivery {
      &:before {
        top: 18px;
        background-image: url(../images/icons/delivery-truck.png);
      }
    }

    &--payment {
      &:before {
        background-image: url(../images/icons/credit-card.png);
      }
    }
  }

  &__title {
    font-size: 18px;
    line-height: 2.1;
    color: #414141;
    max-width: 200px;
    max-height: 140px;
    @include line-camp;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: #585858;
    width: 215px;
    max-width: 250px;
    max-height: 70px;
    @include line-camp;
  }
}