.insights {
  padding-top: 115px;
  position: relative;
  z-index: 2;

  @include _768 {
    padding-top: 30px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 35px;

    @include _1170 {
      justify-content: center;
    }
  }

  &__title {
    max-width: 800px;
    @include line-camp;
    -webkit-line-clamp: 2;

    @include _1170 {
      margin-right: 40px;
    }
  }

  &__link {
    color: $black;
    max-width: 370px;
    @include line-camp;
    @extend %link-style;

    &:hover {
      color: $light-blue;
    }
  }

  &__svg {
    margin-left: 10px;
    width: 6px;
    height: 11px;
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @include _1170 {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }

  &__item {
    margin-right: 10px;
    max-width: 370px;
    width: 100%;

    &:last-child {
      margin-right: 0;
    }

    @include _1170 {
      margin-bottom: 30px;
    }

    @include _768 {
      margin-right: 0;
    }
  }
}

.insights-card {
  background-color: #ffffff;
  max-width: 370px;
  width: 100%;
  min-height: 420px;
  border-radius: 5px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

  &__img {
    margin-bottom: 35px;
    border-radius: 5px;
    max-width: 370px;
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    position: relative;
  }

  &__info {
    padding: 0 20px 20px 29px;
    position: relative;
  }

  &__info-link {
    position: absolute;
    top: -52px;
    left: 30px;
    width: 105px;
    border-radius: 15px;
    padding: 4px 15px;
    max-height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__data-link {
    color: #222933;
    transition: color 0.3s;
    display: inline-block;
    @extend %Rubik-400;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 2.5;
    margin-right: 30px;
    max-width: 118px;
    max-height: 19px;
    overflow: hidden;
    @extend %link-style;

    &:last-child {
      margin-right: 0;
    }

    &:focus {
      color: #000;
    }

    &:hover {
      color: $bg-dark;
    }

    &:active {
      color: $bg-light;
    }
  }

  &__data-svg {
    width: 6px;
    height: 9px;
  }

  &__text {
    @extend %DMSans-500;
    max-width: 297px;
    min-height: 72px;
    font-size: 18px;
    line-height: 1.4;
    color: $black;
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    @include line-camp;
    -webkit-line-clamp: 3;
  }
}