.body {
  background-color: #ffffff;
  @extend %DMSans-Bold-700;
  font-size: 16px;
  color: $dark-blue;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  &--big {
    max-width: 1800px;
  }
}

.btn {
  max-width: 200px;
  width: 100%;
  padding: 20px 25px;
  background-color: $light-blue;
  color: #ffffff;
  @extend %Rubik-Medium-500;
  font-size: 15px;
  transition: background-color .3s;

  &:focus {
    border: 1px solid $blue;
  }

  &:hover {
    background-color: $blue;
  }

  &:active {
    background-color: $dark-blue;
  }
}

.title {
  @extend %DMSans-Bold-700;
  font-size: 36px;
  color: #191919;
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;

  &__item {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__btn {
    border: none;
    background-color: transparent;
    color: #8b8b8b;
    font-size: 16px;
    @extend %DMSans-Bold-700;
    padding: 0;
    cursor: pointer;
    border: transparent;
    transition: color .3s;

    &:focus {
      border-color: #191919;
      color: #191919;
    }

    &:hover {
      color: #191919;
    }

    &:active {
      color: $dark-blue;
    }

    &.mixitup-control-active {
      color: #191919;
    }
  }
}

