html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  @extend %DMSans-700;
  font-size: 16px;
  line-height: 1.5;
  color: $dark-blue;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  &--big {
    max-width: 1800px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  display: flex;
  align-items: center;

  &__img {
    max-width: 150px;
    max-height: 40px;
    object-fit: cover;
  }
}

.btn {
  display: inline-block;
  text-align: center;
  border: none;
  width: 200px;
  padding: 17px 25px;
  background-color: $light-blue;
  color: #ffffff;
  @extend %Rubik-500;
  font-size: 15px;
  cursor: pointer;
  outline: transparent;
  transition: background-color 0.3s, color 0.3s;

  &:focus {
    box-shadow: 0px 0px 16px 6px rgba(34, 60, 80, 0.4);
  }

  &:hover {
    background-color: $blue;
  }

  &:active {
    background-color: $dark-blue;
  }

  &--arrow {
    text-align: left;
    padding-right: 40px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 25px;
      height: 20px;
      background-image: url(../../sprite/sprite.svg#icons--arrow-right);
      background-repeat: no-repeat;
    }
  }

  &--transparent {
    max-width: 180px;
    color: $blue;
    background-color: transparent;
    border: 1px solid $blue;
    border-radius: 5px;

    &::after {
      background-image: url(../../sprite/sprite.svg#icons--arrow-right--blue);
    }

    &:focus {
      background-color: $light-blue;
    }

    &:hover {
      background-color: $bg-dark;
    }

    &:active {
      background-color: $bg-dark;
      color: inherit;
    }
  }
}

.title {
  @extend %DMSans-700;
  font-size: 36px;
  color: #191919;
  text-align: center;
  @include line-camp;

  @include _600 {
    font-size: 32px;
  }

  @include _480 {
    font-size: 24px;
  }
}

.subtitle {
  font-size: 36px;
}

.mix-filter {
  display: flex;
  justify-content: center;

  &__item {
    margin-right: 30px;
    @include line-camp;

    @include _480 {
      margin-right: 10px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__btn {
    border: 1px solid transparent;
    background-color: transparent;
    color: #8b8b8b;
    font-size: 16px;
    @extend %DMSans-700;
    padding: 0;
    cursor: pointer;
    transition: color 0.3s, border-color 0.3s, border-bottom 0.3s;
    @include line-camp;
    max-width: 150px;
    @extend %link-style;

    @include _768 {
      padding: 10px;
    }

    &:focus {
      color: #000000;
    }

    &.mixitup-control-active {
      color: #191919;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  color: $dark-blue;
  @extend %Rubik-400;
  font-size: 16px;

  &--list {
    justify-content: flex-start;

    @include _1366 {
      justify-content: center;
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 15px;
  }

  &__link {
    width: 50px;
    height: 50px;
    border: 1px solid $light-blue;
    color: $dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s, background-color 0.3s;
    @extend %link-style;

    &:focus {
      border-color: $dark-blue;
    }

    &:hover {
      background-color: #edf1f4;
    }

    &--active {
      background-color: $light-blue;
      color: #ffffff;

      &:hover {
        background-color: $light-blue;
      }
    }
  }

  &__next {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark-blue;
    width: 70px;
    height: 50px;
    border: 1px solid $light-blue;
    transition: background-color 0.3s;
    outline: transparent;
    @extend %link-style;

    &:hover {
      background-color: #edf1f4;
    }
  }
}
