@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  min-height: 145px;
  padding: 50px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 130px;

  &__img {
    margin-right: 10px;
  }

  &__name {
    @extend %Rubik-Medium-500;
    font-size: 36px;
    line-height: 1.6;
    color: $dark-blue;
  }
}

.menu {

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    @extend %Rubik-Medium-500;
    color: $dark-blue;
    font-size: 15px;
    line-height: 0.8;
    border-bottom: 1px solid transparent;
    transition: border-color .3s;

    &:hover {
      border-color: $dark-blue;
    }
  }
}

.user {
  
  &__link {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 8px;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    &:focus {
      border: 1px solid $bg-medum;
    }

    &--search {
      background-color: #edf1f4;
      transition: background-color .3s;
      
      &:hover {
        background-color: #dfdfdf;
      }

      &:active {
        background-color: #bab9b9;
      }
    }

    &--heart {
      width: 90px;
      border-radius: 25px 0 0 25px;
      background-color: $bg-dark;
      margin-right: -4px;
      position: relative;
      transition: background-color .3s;

      &:after {
        content: '|';
        position: absolute;
        font-size: 36px;
        color: #fde7d3;
        right: -4px;
      }

      &:hover {
        background-color: #ffbd84;
      }

      &:active {
        background-color: #ff9539;
      }
    }

    &--cart {
      width: 90px;
      border-radius: 0 25px 25px 0;
      background-color: $bg-dark;
      transition: background-color .3s;

      &:hover {
        background-color: #ffbd84;
      }

      &:active {
        background-color: #ff9539;
      }
    }

    &--cab {
      background-color: $light-blue;
      transition: background-color .3s;

      &:hover {
        background-color: #68a6c8;
      }

      &:active {
        background-color: #2292ce;
      }
    }
  }

  &__img {
    position: absolute;
    top: 15px;
    left: 35px;

    &--search {
      top: 17px;
      left: 17px;
    }

    &--cab {
      left: 15px;
    }
  }

  &__num {
    position: absolute;
    right: 30px;
    bottom: 27px;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    text-align: center;
  }
}

.top-slider {
  max-width: 1770px;
  background-color: $bg-dark;
  margin: 0 auto;

  &__container {
    max-width: 1430px;
    padding: 0 130px;
    background-image: url(../images/slider/bg-slider.png);
    background-position: center right;
    background-repeat: no-repeat;
  }

  &__box {
    min-height: 820px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    color: $dark-blue;
    padding-bottom: 90px;
  }

  &__title {
    @extend %Rubik-Medium-500;
    font-size: 72px;
    line-height: 1;
    text-transform: uppercase;
    max-width: 470px;
    width: 100%;
    margin-bottom: 40px;
  }

  &__subtitle {
    @extend %Rubik-Regular-400;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 40px;
    max-width: 370px;
    width: 100%;
  }

  &__btn {
    padding-right: 103px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 22px;
      height: 8px;
      background-image: url(../images/icons/arrow-right.png);
    }
  }
  .slick-dots {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 45px;
    transform: translate(-50%, -50%);

    li {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      button {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        border-color: transparent;
        width: 29px;
        height: 29px;
        @extend %Rubik-Medium-500;
        color: $dark-blue;
        font-size: 11px;
      }

      &.slick-active {
        border-radius: 50%;
        background-color: #ffffff;
      }
    }
  }
}

.info {
  max-width: 1770px;
  padding: 35px 0;
  background-color: $bg-light;
  margin: 0 auto;

  &__items {
    display: flex;
    justify-content: space-between;
    line-height: 2;
  }

  &__item {
    max-width: 595px;
    width: 100%;
    padding: 0 150px 0 220px;
    position: relative;
    border-right: 1px solid #e8e4df;

    &:last-child {
      border-right: none;
    }
  }

  &__title {
    @extend %DMSans-Bold-700;
    font-size: 18px;
    color: #414141;

    &:after {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      left: 176px;
      top: 46px;
      background-repeat: no-repeat;
      background-image: url(../images/icons/circle.png);
    }

    &:before {
      content: '';
      width: 50px;
      height: 50px;
      position: absolute;
      left: 140px;
      top: 20px;
      background-repeat: no-repeat;
    }

    &--support {

      &:before {
        background-image: url(../images/icons/support-24.png);
      }
    }
    
    &--delivery {

      &:before {
        background-image: url(../images/icons/delivery-truck.png);
      }

      &:after {
        top: 40px;
      }
    }

    &--payment {

      &:before {
        background-image: url(../images/icons/credit-card.png);
      }
    }
  }

  &__text {
    @extend %DMSans-Regular-400;
    font-size: 16px;
    color: #585858;
    width: 215px;
  }
}

.products {
  padding: 63px 0 185px 0;

  &__container {
    max-width: 1260px;
  }

  &__title {
    margin-bottom: 28px;
  }

  &__box {
    margin-bottom: 50px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 40px;
    margin-right: 30px;
    padding: 35px 30px;
    width: 270px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover .products__icons {
      opacity: 1;
    }
  }

  &__photo {
    min-height: 257px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__name {
    margin-bottom: 15px;
  }

  &__icons {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    /* transition: opacity .3s; */ /*Если добавить это сво-во, то 3 соседних блока начинают мигать при наведении*/
  }

  &__svg {
    position: absolute;
    top: 10px;
    left: 10px;
    transition: fill .3s;
  }

  &__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 3px;
    background-color: #ffffff;
    transition: background-color .3s;

    &:hover {
      background-color: $light-blue;
      fill: #ffffff;
    }

    &:last-child {
      margin-right: 0;
    }

    &:after {
      content: '';
    }
  }
}


















@import 'media';