.top {
  background-color: #edf1f4;
  text-align: center;
  padding: 24px 0;

  &__title {
    @extend %Rubik-300;
    font-size: 36px;
    color: #222933;
    @include line-camp;
  }
}

.breadcrumbs {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;

    @include _1024 {
      flex-wrap: wrap;
    }
  }

  &__item {
    padding-right: 20px;
    position: relative;

    &:after {
      content: '/';
      position: absolute;
      right: 7px;
      top: 4px;
      font-size: 12px;
      color: rgba(34, 41, 51, 0.6);
    }

    &:last-child:after {
      display: none;
    }
  }

  &__link {
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 1.6;
    color: rgba(34, 41, 51, 0.6);
    padding-bottom: 3px;
    @include line-camp;

    &:focus {
      color: $dark-blue;
    }

    &:hover {
      color: #191919;
    }

    &:active {
      color: $bg-dark;
    }
  }
}