.date {
  display: flex;

  &__link {
    color: #222933;
    transition: color 0.3s;
    display: inline-block;
    @extend %Rubik-400;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 2.5;
    margin-right: 30px;
    max-width: 125px;
    overflow: hidden;
    @extend %link-style;
    @include line-camp;

    &:last-child {
      margin-right: 0;
    }

    @include _768 {
      line-height: 1;
    }
  }

  svg {
    width: 9px;
    height: 12px;
    transform: translateY(1px);
  }
}