.header {
  min-height: 145px;
  padding: 50px 0;

  &__logo {
    margin-right: 150px;

    @include _768 {
      margin-right: 0;
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include _1170 {
    padding-left: 60px;
  }
}

.menu {
  &__btn {
    display: none;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 40px;
    height: 40px;

    @include _1170 {
      display: block;
      position: absolute;
      left: 15px;
      top: 55px;
    }
  }

  &__img {
    width: 40px;
    height: 40px;
  }

  &__list {
    display: flex;

    @include _1170 {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 150px;
      text-align: center;
      transform: translateX(-200%);
      transition: transform 0.5s;
    }

    &--active {
      @include _1170 {
        transform: translateX(0);
        background-color: $bg-medum;
        z-index: 3;
      }
    }
  }

  &__item {
    margin-right: 30px;

    @include _1170 {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    @extend %Rubik-500;
    color: $dark-blue;
    font-size: 15px;
    border: 1px solid transparent;
    transition: color 0.3s, border-color 0.3s;
    outline: transparent;
    @include line-camp;
    -webkit-line-clamp: 1;

    @include _1170 {
      padding: 30px;
    }

    &:focus {
      border: 1px solid $bg-dark;
    }

    &:hover {
      border-bottom: 1px solid $dark-blue;
    }

    &:active {
      color: $bg-dark;
    }
  }
}

.product-nav {
  display: flex;

  &__item {
    margin-right: 17px;

    &:nth-child(1) {

      @include _600 {
        display: none;
      }
    }

    &:nth-child(2) {
      margin-right: -5px;

      @include _600 {
        display: none;
      }
    }

    &:nth-child(3) {

      @include _600 {
        display: none;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__action {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #edf1f4;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: relative;
    outline: transparent;
    transition: border-color 0.3s, background-color 0.3s, fill 0.3s;

    &--header-heart {
      width: 90px;
      border-radius: 23px 0 0 23px;
      position: relative;
      background-color: $bg-dark;

      &::after {
        position: absolute;
        content: '';
        right: 4px;
        width: 1px;
        height: 32px;
        background-color: $bg-light;
        z-index: 1;
      }
    }

    &--header-cart {
      width: 90px;
      border-radius: 0 23px 23px 0;
      background-color: $bg-dark;
    }

    &:focus {
      background-color: $bg-light;
    }

    &:hover {
      background-color: $light-blue;
      fill: #ffffff;
    }

    &:active {
      background-color: $dark-blue;
    }
  }

  &__svg {
    width: 16px;
    height: 16px;
  }

  &__num {
    position: absolute;
    top: 10px;
    right: 30px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }
}