.insights {
  padding-top: 105px;
  position: relative;
  z-index: 2;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 35px;
  }

  &__title {
    max-width: 800px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }

  &__link {
    color: $black;
    max-width: 370px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s;

    &:focus {
      box-shadow: 0px 0px 8px 10px rgba(34, 60, 80, 0.19);
    }

    &:hover {
      border-color: $dark-blue;
    }

    &:active {
      color: $bg-dark;
    }
  }

  &__svg {
    margin-left: 10px;
    width: 6px;
    height: 11px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    background-color: #ffffff;
    max-width: 370px;
    width: 100%;
    min-height: 420px;
    border-radius: 5px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }

  &__photo {
    margin-bottom: 35px;
    max-width: 370px;
    height: 250px;
    position: relative;
  }

  &__img {
    position: absolute; /*Центруем большие изображения*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__info {
    padding: 0 20px 20px 29px;
    position: relative;

    &-link {
      position: absolute;
      top: -52px;
      left: 30px;
      width: 105px;
      height: 130px;
      border-radius: 15px;
      padding: 4px 15px;
      max-height: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }
  }

  &__data {
    svg {
      width: 6px;
      height: 9px;
    }

    span {
      display: inline-block;
      @extend %Rubik-400;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 2.5;
      margin-right: 30px;
      max-width: 118px;
      max-height: 19px;
      overflow: hidden;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__text {
    @extend %DMSans-500;
    min-height: 80px;
    max-width: 297px;
    font-size: 18px;
    line-height: 1.4;
    color: $black;
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}